.gamePanelContainer {
    display: grid;
    grid-template-rows: 0.5fr 0.8fr 1fr 1.3fr 1fr;
    border-radius: 10px;
    width: 30%;
    margin-left: 4rem;
    height: 100%;
    background-color: #dede;
    padding: 10px;

    h1 {
        justify-self: center;
    }
}


.rankingContainer {
    width: 100%;
    text-align: center;
    border-top: 2px solid #00000025;
}

.nickContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    border-top: 2px solid #00000025;

    div {
        display: flex;
        flex-direction: row;

        input {
            height: 4rem;
            width: 85%;
            background-color: white;
            box-shadow: 2px 2px #dedede;
            border-radius: 5px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            font-size: 2rem;
            padding-left: 10px;
        }
    
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 4rem;
            width: 10%;
            background-color: #f5f5f5;
            box-shadow: 2px 2px #dedede;
            border-radius: 5px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            transition: 200ms;
        }
    
        button:hover{
            background-color: #01443125;
        }
    }
}

.gameOptionsButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-top: 2px solid #00000025;


    button {
        height: 4rem;
        border-radius: 2px;
        font-size: 20px;
    }

}

.playingNowContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #00000025;

    div{
        display: flex;
        width: 70%;
        justify-content: space-between;

        color: #ff000030; 

        .playingNow {
            color: blue;
        }
        
        div {

            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 3rem;
            }

            h2 {
                font-size: 1.5rem;
            }

            h3 {
                font-size: 1rem;
            }
        }
    }
}

.gamemodeSelectorContainer {
    height: 80%;
    width: 100%;
    border-top: 2px solid #00000025;
    align-items: center;
    text-align: center;


    div {
        display: flex;
        flex-direction: row;
        gap: 1rem;


        button{
            height: 80%;
            width: 50%;
            font-size: 1.5rem;
        }

        .selectedGamemodeButton {
            background: #0000ff25;
            height: 100%;
            width: 50%;
        }
    }


}